<!DOCTYPE html>
<html>
<header>
  <title>Wahdle</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</header>


<div id="main_logo"></div>

<body> 
<%= notice %>

<%= yield %>


</body>
</html>
